
#dialogGroup {
    font-family: Segoe UI,Arial,sans-serif;
    font-size: 12px;
}
#dialogGroup .ui-inputfield{
    background: whitesmoke;
    -moz-box-shadow: inset 0 2px 2px #8f8f8f;
    -webkit-box-shadow: inset 0 2px 2px #8f8f8f;
    box-shadow: inset 0 2px 2px #8f8f8f;
    color: darkslategray;
}
.ui-widget-header .ui-inputfield, .ui-widget-content .ui-inputfield{
    background: whitesmoke;
    -moz-box-shadow: inset 0 2px 2px #8f8f8f;
    -webkit-box-shadow: inset 0 2px 2px #8f8f8f;
    box-shadow: inset 0 2px 2px #8f8f8f;
    color: darkslategray;
}
.ui-datatable-header{
    text-align: right!important;
}

.ui-datatable-footer{
    text-align: right!important;
}
